.index {
  color: white;
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__heading {
    margin-top: 4rem;
  }
  &__link {
    margin: 2rem 0.4rem;
    color: black;
    background-color: white;
    height: 30rem;
    width: 15rem;
    padding: 1rem;
    font-size: 2rem;
    // &:nth-child(2) {
    //   background-color: blue;
    // }
    // &:nth-child(3) {
    //   background-color: green;
    // }
  }
}
